<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-lg-2 col-xs-6 title-padding" style="display:block">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3><label class="label">@ViewBag.CashTotalToday</label></h3>
                        <h4 class="paragraph">Cash of Today( Rs )</h4>
                    </div>
                    <a href="#" class="small-box-footer"> More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 title-padding" style="display:block">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3><label class="label">@ViewBag.OutofStock</label></h3>
                        <h4 class="paragraph">Shortage Items</h4>
                    </div>
                    <a href="/product/OutOfStock" class="small-box-footer"> More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 title-padding" style="display:block">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3><label class="label">@ViewBag.NoOfProducts</label></h3>
                        <h4 class="paragraph">Product Qty</h4>
                    </div>
                    <a href="/product/index" class="small-box-footer"> More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 title-padding" style="display:block">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3><label class="label">@ViewBag.SalesToday</label></h3>
                        <h4 class="paragraph">Sales Today</h4>
                    </div>
                    <a href="#" class="small-box-footer"> More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 title-padding" style="display:block">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3><label class="label">@ViewBag.MonthTotalSales</label></h3>
                        <h4 class="paragraph">Sales This Month</h4>
                    </div>
                    <a href="#" class="small-box-footer"> More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            
        </div>
    </div>
</div>
